.heading{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.heading h2{
    margin-top: 30px;
    width: 45ch;
    line-height: 45px;
    font-weight: 400;
    text-align: center;
    opacity: 0.5;
}
.side{
    position: absolute;
    transform: rotateZ(270deg);
    top: 40%;
    left: 0%;
}
.side h1{
    font-weight: 100;
    border: 2px solid rgba(255,255,255,0.5);
    padding: 10px 20px;
}
.boxGrid{
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 20px;
}
.explore:any-link{
    color: white;
    text-decoration: none;
}